.footer{
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: #981103;
}
.footer__container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}